<!DOCTYPE html>
<html lang="en" dir="rtl">
{% load jalali_tags %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h5 class="card-title">فرآیند</h5>
<form method="post" action="#" enctype=multipart/form-data>
    {% csrf_token %}


    {{ create_form.customer.label }}
    {{ create_form.customer }}
    {% for error in create_form.customer.errors %}
    {% endfor %}
    <br>
    <br>
    <br>
    {{ create_form.name.label }}
    {{ create_form.name }}
    {% for error in create_form.name.errors %}
    {% endfor %}
    <br>

    <br>
    {{ create_form.date.label }}
    {{ create_form.date }}
    {% for error in create_form.date.errors %}
    {% endfor %}
    <br>




    <button type="submit" class="btn btn-primary">ثبت</button>
</form>



</body>
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
    <script>
        $('.time-picker').timepicker({
            showMeridian: false
        });

    </script>





</html>